<div class="banner">
    <ul>
    	<li><%= image_tag "portfolio_thumbnail_1.jpg" %></li>
    	<li><%= image_tag "portfolio_thumbnail_2.jpg" %></li>
    	<li><%= image_tag "portfolio_thumbnail_3.jpg" %></li>
    </ul>
</div>

	<div class="supporting">
      <div class="container">
        
        <div class="row">

          <div class="col-md-4">
            <a class="thumbnail" href="https://ancient-lowlands-1137.herokuapp.com/">
              <%= image_tag "portfolio_thumbnail_1.jpg" %>
            </a>
            <h3 class="title">Bass</h3>
            <p class="description">Bass wants a Rails app for their music streaming service. Albums are displayed on the main page. Clicking on an album takes users to a page where they can see an album's track listing. The app uses two different models (Album and Track) to store data.</p>
          </div>

          <div class="col-md-4">
            <a class="thumbnail" href="https://github.com/ruthno/nearme-angularjs.git">
              <%= image_tag "portfolio_thumbnail_2.jpg" %>
            </a>
            <h3 class="title">Near Me</h3>
            <p class="description">NearMe is creating an AngularJS app for their location-based service service. The app displays places of interest on a map. When you click on a map marker, a popup with a message displays.</p>
          </div>

          <div class="col-md-4">
            <a class="thumbnail" href="https://aqueous-shore-8593.herokuapp.com/">
              <%= image_tag "portfolio_thumbnail_6.jpg" %>
            </a>
            <h3 class="title">Threadly</h3>
            <p class="description">Threadly is creating a Rails commenting service app. Type a comment into the comment box and click the Post button or return on the keyboard. The comments will be displayed and also saved into the rails database.</p>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <a class="thumbnail" href="https://shrouded-fortress-7690.herokuapp.com">
              <%= image_tag "portfolio_thumbnail_7.jpg" %>
            </a>
            <h3 class="title">Pocketbook</h3>
            <p class="description">This is a sample rails application that adds an authentication system. First, the form is displayed to the user. Aftersigns up, the user's data is stored into the database. When the user logs in, the rails controller checks whether the submitted username and password matches the one in the database.</p>
          </div>

          <div class="col-md-4">
            <a class="thumbnail" href="https://github.com/ruthno/outbox.git">
              <%= image_tag "portfolio_thumbnail_8.jpg" %>
            </a>
            <h3 class="title">Outbox</h3>
            <p class="description">Outbox is creating an AngularJS app for their email app. The app displays a list of messages. When you click on an email, it shows the entire message.</p>
          </div>

          <div class="col-md-4">
            <a class="thumbnail" href="https://thawing-everglades-4975.herokuapp.com">
              <%= image_tag "portfolio_thumbnail_3.jpg" %>
            </a>
            <h3 class="title">Calendar</h3>
            <p class="description">Calendar wants to add an authentication system to their Rails app with a signup page, a login page, and a log out functionality. When you sign up and succeed, you will be entered into the calendar page. Try it.</p>
          </div>
          
        </div>

      </div>
    </div>
